@charset "UTF-8";
/* CSS Document */
/*Nav*/
.nav-side {
	margin-top: 10px;
	font-size: 1.5em;
}


/*Div*/

.offset1p5 {
	margin-left: 165px;
	margin-right: 15px;
}
.mainContainer {
	background-color: #FFF;
	
}
.headerBox {
	row: span12;
	margin-top: 15px;
	margin-bottom: 15px;
	
}
.welcomeBox {
	height: 70px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-top-style: solid;
	border-top-color: #E3E3E3;
	
		/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #E3E3E3 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #E3E3E3 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #E3E3E3 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #E3E3E3));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #E3E3E3 100%);
	
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to top, #FFFFFF 0%, #E3E3E3 100%);
	
}
.welcomeBox2 {
	height: 120px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-top-style: solid;
	border-top-color: #E3E3E3;
	
		/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #E3E3E3 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #E3E3E3 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #E3E3E3 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #E3E3E3));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #E3E3E3 100%);
	
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to top, #FFFFFF 0%, #E3E3E3 100%);
	
}
.footerBox1 {
	height: 120px;
	margin-top: 10px;
	margin-bottom: 5px;
	border-top-style: none;
	border-top-color: #E3E3E3;
	
		/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #E3E3E3));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
	
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #E3E3E3 100%);

}
.homeButton {
	row: span4;
	height: 250px;
	width: 250px;
	
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 30px;
	margin-right: 15px;
	background: #006CB1;
	box-shadow: 10px 10px 35px #888888;
}
.imageButton {
	margin-left: 25px;
	margin-right: 25px;
	
	padding-top:5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	
	height: 190px;
	width: 190px;
}
.messageButton {
	
	width: 220px;
	height: 65px;
	
	margin-top: 10px;
	
}
.nextButton {
	row: span12;
	/*width: 125px;
	height: 45px;*/
	margin-top: 30px;
	margin-left: 525px;
	alignment-adjust: central;
  	color: #ffffff;
  	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  	background-color: #006dcc;
  	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  	background-repeat: repeat-x;
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  	border-color: #0044cc #0044cc #002a80;
  	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  	*background-color: #0044cc;
  	 /*Darken IE7 buttons by default so they stand out more given they won't have borders */

  	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.cancelButton {
   display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

 /* *zoom: 1;*/
  padding: 4px 12px;
  margin-top: 30px;
/*	margin-left: 510px;*/
	alignment-adjust: central;
/*  margin-bottom: 0;*/
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	
}
.contactButton {
	row: span12;
	width: 190px;
	height: 30px;
	alignment-adjust: central;
	
}
.btnIcon {
	width: 70px;
	height: 70px;
	margin-bottom: 10px;
	vertical-align: middle;
	
	/*padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;*/
	
}
.portalTitleRed {
	color: #F00;
	font-size: 62px;
}
.portalTitleBlue {
	color: #006CB1;
	font-size: 62px;
}
.welcomeText1 {
	text-indent: 35px;
	color: #999;
	font-size: 40px;
	font-family:"MS Serif", "New York", serif;
	font-weight: normal;
	
	margin-top: 30px;
	margin-bottom: 10px;
	
}
.welcomeText2 {
	color: #999;
	font-size: 40px;
	font-family:"MS Serif", "New York", serif;
	font-weight: bold;
	
	margin-top: 15px;
	margin-bottom: 15px;
}
.subtitle1 {
	color: #FFF;
	font-size: 22px;
	font-family:"MS Serif", "New York", serif;
	font-weight: bold;
	line-height: none; 
	
	text-align: center
	
}
.messageText {
	color: #FFF;
	font-size: 18px;
	font-family:"MS Serif", "New York", serif;
	font-weight: bold;
	line-height: 3; 
	
	text-align: center;

}
.buttonText1 {
	color: #FFF;
	font-size: 18px;
	font-family:"MS Serif", "New York", serif;
	font-weight: bold;
	line-height: 1.75; 
	
	text-align: center	
	
}
.loginText1 {
	text-align: center;
	color: #999;
	font-size: 40px;
	font-family:"MS Serif", "New York", serif;
	font-weight: normal;
	
}